source https://nuget.org/api/v2

nuget Destructurama.FSharp
nuget DynamicsCRMProvider
nuget EWS-Api-2.0
nuget FSharp.Configuration
nuget FSharp.Core
nuget FSharp.Formatting
nuget Microsoft.Azure.WebJobs
nuget Microsoft.Data.Edm
nuget Microsoft.Data.OData
nuget Microsoft.Data.Services.Client
nuget Microsoft.Exchange.WebServices
nuget Microsoft.Orleans.Client
nuget Microsoft.Orleans.Core
nuget Microsoft.Orleans.OrleansRuntime
nuget Microsoft.Orleans.Templates.Grains
nuget Microsoft.Orleans.Templates.Interfaces
nuget Microsoft.Web.WebJobs.Publish
nuget Microsoft.WindowsAzure.ConfigurationManager
nuget Newtonsoft.Json
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget NUnitTestAdapter
nuget Serilog
nuget SourceLink.Fake
nuget System.Spatial
nuget WindowsAzure.Storage

github fsharp/FAKE modules/Octokit/Octokit.fsx