source https://nuget.org/api/v2

nuget Destructurama.FSharp
nuget EWS-Api-2.0
nuget FSharp.Formatting
nuget Microsoft.CrmSdk.CoreAssemblies
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx