<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="CrmServer" value="https://nucrmdemo.crm4.dynamics.com/XRMServices/2011/Organization.svc" />
  <add key="CrmUser" value="alans@nucrmdemo.onmicrosoft.com" />
  <add key="CrmPassword" value="pass@word1" />
  <add key="ExchangeUserEmail" value="alans@nucrmdemo.onmicrosoft.com" />
  <add key="ExchangePassword" value="pass@word1" />
</appSettings>
