type project
owners
    David Podhola
authors 
    David Podhola
projectUrl
    http://github.com/SyncToday/exchange2crm
iconUrl
    https://raw.githubusercontent.com/SyncToday/exchange2crm/master/docs/files/img/logo.png
licenseUrl
    http://github.com/SyncToday/exchange2crm/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    synctoday
summary
    Import Office 365 Exchange Contact to Microsoft Dynamics CRM
description
    Description not set


